@tailwind base;
@tailwind components;
@tailwind utilities;

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-base;
  }

  p {
    margin-bottom: 1rem;

    img {
      margin: 1rem auto;
      max-height: 350px;
    }

    code {
      @apply bg-primary bg-opacity-20;
      padding: 2.5px;
      font-style: italic;
    }
  }

  a {
    text-decoration: underline;
    @apply text-primary;
    font-weight: 600;

    &:hover {
      text-decoration-thickness: 2px;
    }
  }

  blockquote {
    @apply bg-primary bg-opacity-20 border-l-8 border-primary;
    font-style: italic;
    padding: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    p {
      margin-bottom: 0;
    }
  }

  ol,
  ul,
  menu {
    list-style: initial;
    margin: 1.6rem 0;
    padding-left: 4rem;
  }

  ol {
    list-style: numeric;
  }
}
